.pagination{
    display: flex;
    padding: 0;
    li{
        list-style: none;
    }
    button{
        border: none;
        background-color: inherit;
        font-size: 1em;
        cursor: pointer;
        &:hover{
            font-weight: bold;
        }
    }
}

.active{
    font-weight: bold;
}