@import "./variables";

.main{
  background-color: $mainBgc;
  max-width: 1024px;
  margin: 0 auto;
  padding: 5px;
}

.wrap{
  display: flex;
}

.filters{
  display: flex;
  flex-direction: column;
  max-width: 30%;
  p{
    margin: 10px 0;
    font-weight: bold;
    color: $mainColor;
    &:first-of-type{
      margin-top: 0;
    }
  }
}